.navbar{
    border-bottom: 1px solid black;
    padding: 0px 30px;
}

.sidebar-item{
    font-weight: bold !important;
    font-size: large !important;
}
.sidebar-item:hover{
    background-color: (82, 110, 211, 0.5);
}

.content{
    width:100%;
    // display: flex;
}
:host{
    overflow: hidden;
}
.container{
    overflow: hidden;
    height: 100vh;
}
