.navbar{
    border-bottom: 1px solid black;
    padding: 0px 30px;
}

.sidebar-item{
    font-weight: bold !important;
    font-size: 25px;
    height: 60px;
    display: flex;
}

.sidebar-item.active{
    text-decoration: underline;
}

.content{
    width:100%;
    // display: flex;
}
:host{
    overflow: hidden;
}
.sidebar{
    width: auto;
    top:0;
    border-radius: 0;
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    justify-content: center;
    padding-top: 30px;
}
.container{
    overflow: hidden;
    height: 100vh;
}
