.image-container{
    height:80px;
    min-height: 80px;
    width: 80px;
    border-radius: 20%;
    margin-right: 1%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.image{
    object-fit: cover !important;
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%
}